<% include ../partials/header %>


<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col col-12 text-center">
      <h2>Edit</h2>
    </div>
    <div class="col col-8 mt-3">
      <form action="/index/<%= gear._id %>?_method=PUT" method="post">
        <div class="form-group">
          <input id="gear-imgs" class="form-control" type="text" name="gear[img]" value="<%= gear.img %>">
        </div>
        <div class="form-group">
          <label for="gear-brand">Specify the brand of your gear<sup>*</sup></label>
          <input id="gear-brand" class="form-control" type="text" name="gear[brand]" value="<%= gear.brand %>" required>
        </div>
        <div class="form-group">
          <label for="gear-gender">Specify the gender of your gear for</label>
          <input id="gear-gender" class="form-control" type="text" name="gear[gender]" value="<%= gear.gender %>">
        </div>
        <div class="form-group">
          <label for="gear-size">Specify size of your gear<sup>*</sup></label>
          <input id="gear-size" class="form-control" type="text" name="gear[size]" value="<%= gear.size %>" required>
        </div>
        <div class="form-group">
          <label for="gear-condition">Describe condition of your gear<sup>*</sup></label>
          <input id="gear-condition" class="form-control" type="text" name="gear[condition]" value="<%= gear.condition %>" required>
        </div>
        <div class="form-group">
          <label for="location">Specify city and state where this item is available for pickup if applicable</label>
          <input class="form-control" type="text" name="gear[location]" id="location" value="<%= gear.location %>">
        </div>
        <div class="form-group">
          <label for="shipVia">Ship via</label>
          <input id="shipVia" class="form-control" type="text" name="gear[shipVia]" value="<%= gear.shipVia %>">
        </div>
        <button class="form-control btn btn-large btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer %>
